@charset "UTF-8";

/*
    em HTML é id    = em CSS é # (elemento único)
    em HTML é class = em CSS é . (pode conter vários elementos)
*/

body {
  background-color: rgb(149, 237, 146);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: rgb(49, 232, 49);
}

h1#principal {
  text-align: center;
  background-color: rgb(49, 232, 49);
  color: white;
}

h2 {
  color: rgb(64, 205, 64);
}

.basico {
  color: rgb(149, 237, 146);
  font-weight: bold;
}

.intermediario {
  color: rgb(235, 237, 146);
  font-weight: bold;
}

.avancado {
  color: rgb(237, 146, 154);
  font-weight: bold;
}

.destaque {
  background-color: #bfbf77;
}